.secondstimer {
  width: 4rem;
  height: 6rem;
  border-radius: 0.5rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 10px rgba(152, 152, 152, 0.05);
  border: 2px solid rgb(55, 55, 55);
}

.timer-content {
  color: white;
  font-size: 3rem;
  font-family: monospace;
}

.sRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
